* {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 959px) {
    .create-form {
        width: 30%;
        margin: 0 35%;
    }
    .create-form p {
        display: flex;
        height: 40px;
        justify-content: space-between;
        line-height: 40px;
    }
    .form-group {
        border-bottom: 1px solid #d0d0d0;
    }
    .create-form input[type="text"]{
        height: 20px;
        width: 200px
    }
    .create-button {
        position: absolute;
        border: none;
        background-color: rgb(132, 172, 197);
        color: #fff;
        width: 120px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 25px;
        right: 35%;
    }

}