{% extends "admin/base_site.html" %}
{% block content %}
<p>認証URL <input type="text" value="http://127.0.0.1:8000/main/check/{{agreement_id}}" name="" id=""></p>
<p>件名 <input type="text" value="{{agreement_name}}" name="" id=""></p>
<p>担当者名 <input type="text" value="{{host_user_name}}" name="" id=""></p>
<p>契約先会社名 <input type="text" value="{{client_name}}" name="" id=""></p>
<p>契約先担当者名 <input type="text" name="" value="{{client_user_name}}" id=""></p>
<p>認証用メールアドレス<input type="text" value="{{mail_address}}" name="" id=""></p>
<p>契約元会社名 <input type="text" value="{{host_name}}" name="" id=""></p>
<iframe src="/media/{{file}}" frameborder="0"></iframe>」
<p>契約日 <input type="text" value="{{client_agreement_date}}" name="" id=""></p>
<p>確認日 <input type="text" value="{{host_agreement_date}}" name="" id=""></p>
<form action="#" method="post" id="preview_form">
    {% csrf_token %}
    <input type="hidden" name="type" value="date">
    <p><a href="/main/manage/list/">戻る</a><a onclick="javascript:preview_form.submit()">確認</a></p>
</form>

{% endblock %}